<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artel blog API</title>
</head>
<body>
    <div id="swagger"><center><h1>Documentions(swagger: clik text for more:)</h1></center></div>
</body>
<script>
    var swagger = document.getElementById('swagger');
    swagger.onclick = function() {
        window.location.href = '/api/swagger';
    }
</script>
</html>
